* {
  font-family: 'Lora', serif;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #707070;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

strong {
  font-weight: 700;
}

a {
  color: #1792d2;
  text-decoration: none;
}

/* ====================
  typography
  =================== */

h1,
h2,
h3 {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

/* logo */
.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
}

.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-read-more {
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

.article-info {
  margin: 2em 0;
}

/* ====================
  Layout
  =================== */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background: #f8f8f8;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 2em;
}

/* navigation */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav li {
  margin: 0.5em 0;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0; /* odległość podkreślenia w navie */
}

nav a:hover,
nav a:focus {
  color: #1792d2;
  border-bottom: solid 2px #707070;
}

.current-page {
  border-bottom: solid 2px #707070;
}

.current-page:hover {
  /* zmiana koloru zeby nie podswietlalo obecnej strony na ktorej jestesmy */
  color: #707070;
}

/* ====================
  Articles
  =================== */

article {
  border-bottom: 1px solid #707070;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-main {
  order: 2;
}

.article-read-secondary {
  order: 1;
}

/* Mediaqueries */
@media (min-width: 775px) {
  .container-flex {
    flex-direction: row;
  }

  main {
    width: 75%;
  }

  aside {
    width: 20%;
  }
  nav ul {
    flex-direction: row;
  }
  nav li {
    margin: 0 1em;
  }
  
}

@media (min-width: 550px) {
  .article-recent-main {
    margin-top: -2.5em;
  }
  .article-info {
    text-align: right;
  }
}
